html {
    background-image: url(./images/i98vXju.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body, html {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

/* Earth blue */
/* HTML code:	#75BCF0
RGB code:	R: 117 G: 188 B: 240 */

/* Earth green */
/* HTML code:	#71AF2A
RGB code:	R: 113 G: 175 B: 42 */